
.container-newsletter {
    background-image: url('../fonts/..//img/fundo.png');
    background-size: auto;    
    padding-top: 2em ;
    
}

#newsletter {
    margin-bottom: 3em;
}

#newsletter{
    color: #fff;
}
